:root{
    --vermelho: #e50913;
    --preta: #141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*relacionado à base*/

body{
    background:black;
    font-family: 'Arial', Times, serif;
    color:white;
}

header .container{
    display: inline-flexbox;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    height: 0;
}

header nav #logo{
    display: inline-flexbox;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
    width: 100px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff54;
}

/*relacionado ao baner do filme principal*/

.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0,0,0, 0.30)100%), url('/img/capa-modernfamily.jpg');
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    font-size: 50px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 15%;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    font-weight: bold;
    opacity: 1;
    padding: 0.8rem; 
    border-radius: 4px;
    color: white;
    font-size: 1,6rem;
} 

.assistir-agora{
    font-style: normal;
    color: white;
    text-decoration: none;
}

.mais-informacoes{
    font-style: normal;
    color: white;
    text-decoration: none;
}

button:hover{
    background-color: rgba(0,0,0,.30);
    cursor: pointer;
    transition: 0.5s;
}

i{
    margin-right: 8.5px;
}

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

/* relativo ao carrossel de filmes e séries */
.carousel-files-continue-assistindo{
    margin-top: 5px;
}

.continue-assistindo{
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.carousel-files-continue-assistindo .item img{
    border-radius: 10px;
    border: none;
    margin: 3rem;
    height: auto;
    width: 100rem;
}

.carousel-files-continue-assistindo .item img:hover{
    cursor: pointer;
    border: 1px solid white;
}

.carousel-files-continue-assistindo p{
    font-size: 20px;
    margin: 0 0 5px 30px;
    font-weight: bolder;
}
